.item {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.item .btns {
	display: flex;
	gap: 10px;
	margin-right: 10px;
}

.item .btns button {
	padding: 4px;
}

.item .input-wrap input {
	background-color: aliceblue;
	color: chocolate;
}
