.panel {
	padding: 10px;
}

.item {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.item .btns {
	display: flex;
	gap: 10px;
	margin-right: 10px;
}

/* .item .btns button {
	padding: 4px;
} */

.item .input-wrap {
	display: flex;
	align-items: center;
	gap: 10px;
}

.item .input-wrap input {
	background-color: aliceblue;
	color: chocolate;
	padding: 4px 8px;
	border-radius: 2px;
}
